<h1>Listing Manages</h1>
    <table border = '1'>
    <thead>
        <tr>
            <th>Title</th>
            <th>Name</th>
            <th>Email</th>           
        </tr>
     </thead>

        <tbody>
        <% @manage.each do |manage| %>
        <tr>
        <td><%= manage.title  %></td>
        <td><%= manage.name  %></td>
        <td><%= manage.email  %></td>
        </tr>
       
        <% end %>
        </tbody>
         
</table>




